<footer class="footer">
  <div class="footer-left">
    <img height="50px" width="50px" src="/img/logo.png" alt="logo">
    <div>
      <span class="logo-text">Cryptin.</span>
      <p class="desc">The future of cryptocurrency trading.<br>Secure, fast, and reliable.</p>
    </div>
  </div>

  <div class="footer-right">
    <div class="social-icons">
      <div class="icon"><img src="https://www.shutterstock.com/shutterstock/videos/1063781164/thumb/5.jpg?ip=x480" alt="twitter-logo"></div>
      <div class="icon"><img src="https://i.pinimg.com/564x/6b/ab/30/6bab3017350ca04c6fa05569672bd31e.jpg" alt="linkedin logo"></div>
    </div>
    <input type="email" placeholder="Enter your email address">
    <a href="/signup" class="signIn">Sign in</a>
  </div>
</footer>
