<header class="navbar">
  <div class="logo">
    <img height="50px" width="50px" src="/img/logo.png" alt="logo">
    <span class="logo-text">Cryptin.</span>
  </div>
  <nav>
    <a href="/">HOME</a>
    <a href="/buy">BUY</a>
    <a href="/sell">SELL</a>
    <a href="/signup">SIGN UP</a>
    <a href="/dashboard">DASHBOARD</a>
  </nav>
</header>
